body {
    scroll-behavior: smooth;
   

}
footer{
    margin-top: 5%;
}


#mainContainer{
    /* background-color: black; */
    position: relative;
    width: 80%;
    height: 80%;
    margin: auto;
    margin-top: 5%;
    text-align: center;
}
video{
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    top: 0;
    left: 0;
    

}

#cardContainer {
    margin-top: 30%;
    /* background-color: red; */
    text-align: center;
    position: relative;
    display: none;


}

.cards {
    display: inline-grid;
    grid-template-columns: 300px;
    grid-template-rows: 250px 80px;
    grid-template-areas: "image""text";
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.7);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.7);
    text-align: center;
    margin: 20px;
    margin-bottom: 50px;
    transition: 0.2s ease;
}

.card-image {
    /* background-image: url(dummy3.jpg); */
    background-size: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card-text {

    font-family: 'Londrina Shadow', cursive;

}

.cards:hover {
    transform: scale(1.15);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.6);
    cursor: pointer;
}
#card-image1{
    background-image: url(./weather.jpg);
}
#card-image2{
    background-image: url(./HotelCover.jpg);
}
#card-image3{
    background-image: url(./menuCover.jpg);
}
#card-image4{
    background-image: url(./FunCover.jpg);
}
#ask-input {
    margin: auto;
    margin-top: 3%;
    background-color: rgba(255, 255, 255, 0.8);
    width: 55%;
    height: 120px;
    border-radius: 30px;
    /* border: black solid px; */
    font-size: 30px;
    text-align: center;
    border: none;
    position: relative;
    
}

.showContent {
    height: 50%;
    width: 60%;
    height: 100%;
    padding: 50px ; 
    text-align: center;
    background-color: rgba(255, 255, 255, 0.5);
    margin-top: 20px;
    display: none;
    border-radius: 10px;
    margin: auto;
    margin-top: 5%;
    position: relative;
}

#exit {
    margin-top: 5%;
    
    margin-left: 45%;
    background-color:rgba(255, 255, 255, 0.8); 
    height: 40px;
    width: 200px;
    display: none;
    border-radius: 40px;
    font-weight: bolder;
    border: white solid 2px;
    font-size: large;
    position: relative;
}
#exit:hover{
    border: white solid 2px;
    color: white;
    font-weight: bolder;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.8);

}
#weather{
    display: none;
    background-color:rgba(255, 255, 255, 0.6); 
    padding: 2%;
    
}

#mainWeather{
    display: grid;
    grid-template-columns: 30% 40% 30%;
    justify-content: center;
    height: 300px;
    padding-left: 5%;
    padding-right: 5%;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 30px;
    border: black solid 1px;

}

::-webkit-scrollbar{
    width: 1.5em;
}

::-webkit-scrollbar-track{
    background-color: #A25235;
}

::-webkit-scrollbar-thumb{
    background-color:hsl(28, 53%, 71%) ;
    border-radius: 10px;
    border: #A25235 solid 4px;
    
}

.holder{
    background-color:  #A25235;
    height: 300px;
    width: 70%;
    margin: auto;
    display: grid;
    margin-top: 20px;
    font-size: 20px;
    grid-template-columns: 40% 60%;
    border-radius: 20px;
    text-align: left;
}
.holder div{
    background-color: #A25235;
    border-radius: 20px;
}
.holder div:nth-child(odd){
    background-color: #DCB28D;
}



.lodgeHeading{
    font-size: 30px;
    font-weight: 200;
    margin-bottom: 10%;
    text-align: center;
}
#leftDiv{
   
    padding: 3%;
    text-align: left;
    line-height: 6em;
    border-radius: 30px;
}
#rightDiv{
    
    text-align: right;
    line-height: 6em;
    padding: 5%;
    border-radius: 30px;
}

#centerDiv{
    font-size: 30px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 30px;
    width:80% ;
    height: 300px;
    text-align: center;
    margin: auto;
    margin-top: -10px;
    font-weight: 200;
    border: black solid 10px;
}
#centerDiv h3{
    font-size: 25px;
    
}
/* .imgDiv{
    background-image: url(dummy3.jpg);
} */

.HImageDiv{
    
    
   text-align: center;
   
    margin: 3%;

}
.HImageDiv img{
    height: 200px;
    width: 200px;
    margin-top: 10%;
}

.RImageDiv{
    
    
    text-align: center;
    
     margin: 3%;
 
 }
 .RImageDiv img{
     height: 200px;
     width: 200px;
     margin-top: 10%;
 }

 .EImageDiv{
    
    
    text-align: center;
    
     margin: 3%;
 
 }
 .EImageDiv img{
     height: 200px;
     width: 200px;
     margin-top: 10%;
 }
 #weatherIcon{
    height: 200px;
    margin-top: -50px;
 }
 #wDescription{
    margin-top: -40px;
 }
 #feelsLike{
    margin-top: -50px;
 }